body {
    background-color: rgb(28, 28, 29);
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    color: #fff;
    background-image:url(../images/homework-img-min.jpg);
    background-repeat: no-repeat;
    background-position: 1640px 120px;
    background-size: 15%
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header h1 {
    text-align: center;
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
}

#main-header {
    color:rgb(204, 136, 90)
}

article {
    width: 400px;
    border: 4px solid white;
    border-radius: 10px;
    margin: 10px 12px;
}

article > h2 {
    color: rgb(192, 97, 97);
    padding: 4px 8px;
}

article:first-of-type {
    border-color: rgb(192, 97, 97);
}

#inprogress {
    border-color: rgb(192, 167, 97);
}

#inprogress h2 {
    color: rgb(192, 167, 97);
}

#done {
    border-color: rgb(91, 233, 91);
}

#done h2 {
    color: rgb(91, 233, 91);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding: 6px 8px;
    text-transform: uppercase;
}

.todo li:nth-child(odd) {
    background-color: rgba(131, 71, 71, 0.5);
}

.inprogress li:nth-child(odd) {
    background-color: rgb(138, 119, 69, 0.5);
}

.done li:nth-child(odd) {
    background-color: rgba(81, 194, 81, 0.5);
}


/* To Do List Checkbox */

.check-con1 input[type="checkbox"] {
    display: none;
}

.check-con1 label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #f14848;
    margin-right: 8px;
    cursor: pointer;
}

.check-con1 input[type="checkbox"]:checked + label {
    color: rgba(255, 255, 255, 0.493);
}

.check-con1 input[type="checkbox"]:checked + label::after {
    content: "✘"; 
    color: rgb(255, 255, 255);
    font-size: 14px;
    position: absolute;
    left: 10px;
    top: 4px;
}

.check-con1 li {
    position: relative;
}

/* In Progress Checkbox */

.check-con2 input[type="checkbox"] {
    display: none;
}

.check-con2 label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #e0f148;
    margin-right: 8px;
    cursor: pointer;
}

.check-con2 input[type="checkbox"]:checked + label {
    color: rgba(255, 255, 255, 0.493);
}

.check-con2 input[type="checkbox"]:checked + label::after {
    content: "✖"; 
    color: rgb(255, 255, 255);
    font-size: 14px;
    position: absolute;
    left: 10px;
    top: 4px;
}

.check-con2 li {
    position: relative;
}

/* Done Checkbox */

.check-con3 input[type="checkbox"] {
    display: none;
}

.check-con3 label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #26e626;
    margin-right: 8px;
    cursor: pointer;
}

.check-con3 input[type="checkbox"]:checked + label {
    color: rgba(255, 255, 255, 0.493);
}

.check-con3 input[type="checkbox"]:checked + label::after {
    content: "✔"; 
    color: rgb(255, 255, 255);
    font-size: 14px;
    position: absolute;
    left: 10px;
    top: 4px;
}

.check-con3 li {
    position: relative;
}