body {
    background-color: rgb(28, 28, 29);
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header h1 {
    text-align: center;
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
}

#main-header {
    color:rgb(204, 136, 90)
}

article {
    width: 400px;
    border: 4px solid white;
    border-radius: 10px;
    margin: 10px 12px;
}

article > h2 {
    color: rgb(192, 97, 97);
    padding: 4px 8px;
}

article:first-of-type {
    border-color: rgb(192, 97, 97);
}

#inprogress {
    border-color: rgb(192, 167, 97);
}

#inprogress h2 {
    color: rgb(192, 167, 97);
}

#done {
    border-color: rgb(91, 233, 91);
}

#done h2 {
    color: rgb(91, 233, 91);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding: 6px 8px;
    text-transform: uppercase;
}

.todo li:nth-child(odd) {
    background-color: rgba(131, 71, 71, 0.5);
}

.inprogress li:nth-child(odd) {
    background-color: rgb(138, 119, 69, 0.5);
}

.done li:nth-child(odd) {
    background-color: rgba(81, 194, 81, 0.5);
}

